
@media screen and (max-width:479px){

 .container{
   width:100%;
 }

 .title-container{
   width:90%;
   margin:0 auto;
   margin-top:40px;
 }

 .title-container h2{
   border-bottom:1px solid black;
   margin-bottom:20px;
   text-align:center;
 }

 .title-container p{
   width:100%;
 }

 .page{
  width:100%;
  float:none;
  margin:0 auto;
  margin-bottom:30px;
  margin-top:30px;
}

 header{
   width:100%;
 }

 .header-left button,input{
   display:none;
}

.fa-facebook{
  padding-left:10px;
}

.header-right{
   display:none;
}

.menu-icon{
   font-size:30px;
   display:block;
   opacity:1;
   position:fixed;
   top:0;
   right:9px;
 }



.modal-wrapper{
   width:100%;
}

.modal{
  width:100%;
  margin-top:150px;
}

.text{
  width:80%;
}

#start-form span{
  padding:10px 120px;
}

.slide-menu-modal{
  font-weight:bold;
}

.slide-menu-modal i{
  margin-right:10px;
}

.fas{
  margin:0;
}

.close-menu-modal{
  opacity:0.9;
  font-size:23px;
}

}
