
* {
  margin:0;
  padding:0;
}

*{
  box-sizing:border-box;
}


body{
  background-color:#e9ebee;
  font-family:inherit;
  margin:0;
  padding:0;
}

.container{
  max-width:1100px;
  width:100%;
  margin:0 auto;
}

.top-wrapper{
  max-width:988px;
  width:100%;
  margin:0 auto
}

.title-container p{
  width:975px;
  margin-bottom:30px;
}

.container h2{
  font-size:25px;
  font-weight:bold;
  padding-top:50px;
  margin-bottom:5px;
}

.container p{
  font-size:14px;
}


.page{
  width:470px;
  height:468px;
  float:left;
  background-color:white;
  margin-right:23px;
  text-align:center;
  border-radius:5px;
  border:1px solid #dcdcdc;
}

.page img{
  margin-top:20px;
  margin-bottom:30px;
}

.page p{
  font-weight:bold;
  margin:0 25px;
  margin-bottom:90px;
  opacity:0.4;
}

.start-modal-wrapper{
  display:none;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:rgba(0,0,0,0.6);
  z-index:100;
}

.modal-wrapper{
  max-width:520px;
  width:100%;
  margin:0 auto;
}

.modal{
  background-color:#4267b2;
  border-radius:10px;
  margin-top:150px;
}

.fa-times{
  float:right;
  color:white;
  opacity:0.8;
  cursor:pointer;
  margin-top:10px;
  margin-right:10px;
}

#start-form{
  text-align: center;
}

#start-form h2{
  padding-bottom:40px;
  padding-top:50px;
  color:white;
  font-size:25px;
}

.text{
  font-size:15px;
  border:1px solid black;
  padding:4px 180px 4px 10px;
  margin-bottom:30px;
  display:inline-block;
}

#start-form span {
  background-color:rgba(255,215,0,0.9);
  border-radius:2px;
  cursor:pointer;
  display:inline-block;
  padding:10px 150px;
  margin-bottom:30px;
  margin-top:10px;
  color:white;
  font-size:20px;
  font-weight:bold;
}


.start{
  padding:8px 10px;
  background-color:#f8f8ff;
  font-size:13px;
  font-weight:bold;
  border:1px solid #dcdcdc;
  cursor:pointer;
}

.start:hover{
  background-color:rgba(220,220,220,0.4);
}

header{
  height:43px;
  width:100%;
  background-color:#4267b2;
  border-bottom:1px solid #29487d;
  color:#fff;
  position:fixed;
  top:0;
  z-index:10;
}

.header-left{
  float:left;
  padding-top:8px;
}

.fa-facebook{
  float:left;
  font-size:30px;
  margin-right:5px;
}

.header-left input{
  padding:4px 250px 4px 5px;
  font-size:14px;
  border:1px solid #1d2129;
}

button{
  padding-right:18px;
  border-radius:3px;
  background-color:#e9ebee;
  float:left;
}

.fa-search{
  font-size:18px;
  padding-left:15px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding-top:10px;
  opacity:0;
}

.header-right{
  float:right;
  padding-top:7px;
  font-size:20px;
}

.hover-name{
  padding:10px;
  font-size:12px;
}

.hover-name:hover{
  background-color:#365899;
  cursor:pointer;
  background-size:60px;
}

.fa-smile{
  margin-right:10px;
  font-size:20px;
}

.hover-home{
  padding:10px 13px;
  font-size:12px;
}

.hover-home:hover{
  background-color:#365899;
  cursor:pointer
}

i:hover{
  cursor:pointer;
}

.fa-users{
  margin-right:10px;
  margin-left:30px;
}

.fa-facebook-messenger{
  margin-right:10px;
}

.fa-globe{
  margin-right:30px;
}

.fa-question-circle{
  margin-right:12px;



}
